vg .videogames {
    margin-right: 40%;
    align-items: center;
}

vg .searchBar input[type=text] {
    padding: 2px 50px 0px 20px;
    margin-top: 4%;
    margin-right: 0px;
    border-color: #222222;
    border-radius: 20px;
    font-size: 15px;
  }

vg .p{
    margin-bottom: 20px;
}

vg .videogames{
    margin-top: 30px;
    margin-right: 10%;
    margin-left: 10%;
}

vg .vgList{
    margin-right: 10%;
    margin-left: 10%;
}

vg .vgElement{
    color: white;
    display: inline-block;
    background-color: #222222;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    max-width: 200px;
    transition: .15s all ease-in-out;
    margin: 5%;
}

vg .vgElement:hover {
    transform: scale(1.1);
}

vg .title{
    margin: 10px 10px 10px 10px;
}

vg .links{
    display: inherit;
}